/* Fondo general del contenido con gradiente */
ion-content {
  --background: none;
  background: linear-gradient(to bottom right, #121212, #007bff); /* Gris oscuro a azul brillante */
}

/* Contenedor del formulario */
.agregarusuario-container {
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.05); /* Fondo semi-transparente más oscuro */
  border-radius: 8px;
}

/* Estilo para los elementos ion-item dentro de ion-list */
ion-list ion-item {
  --ion-item-background: transparent !important;
  --color: #ffffff; /* Texto blanco */
  margin-top: 30px; /* Espaciado uniforme */
  padding-bottom: 10px; /* Espacio adicional en la parte inferior de cada item */
}

/* Estilo para los campos de entrada ion-input */
ion-input, ion-textarea {
  --background: transparent !important; /* Fondo transparente para los campos de entrada */
  --color: #ffffff; /* Texto blanco */
  border: 2px solid rgba(0, 0, 0, 0.3); /* Borde sutil para los campos de entrada */
  padding: 10px !important; /* Espacio interno uniforme */
  width: calc(100% - 30px); /* Ajuste de ancho */
  border-radius: 5px; /* Bordes redondeados */
  margin-top: 5px; /* Espacio extra entre el label y el input */
  font-size: 1.1em; /* Tamaño del texto dentro del input */
  margin-left: 20px; /* Separación extra a la izquierda para que no estén tan pegados a las etiquetas */
}

/* Estilo para las etiquetas ion-label */
ion-label {
  --color: #ffffff; /* Texto blanco */
  font-size: 1.2em; /* Tamaño más grande para mayor claridad */
  margin-bottom: 10px; /* Espacio debajo de la etiqueta */
  margin-right: 10px; /* Separación a la derecha de las etiquetas */
}

/* Estilo general del formulario */
ion-list {
  background: #ffffff00; /* Fondo transparente para ion-list */
}

/* Estilo para los campos de entrada personalizados */
.custom-input {
  --color: #ffffff; /* Texto blanco */
  border: 2px solid #ffffff; /* Borde blanco */
  padding: 8px; /* Añade un poco de padding dentro del input */
  border-radius: 5px; /* Bordes redondeados */
}

/* Estilo para los botones */
.boton {
  --padding-start: 16px;
  --padding-end: 16px;
  font-size: 1.2em; /* Tamaño más grande para el texto de los botones */
  color: #ffffff; /* Texto blanco en los botones */
  --background: #007bff; /* Fondo azul brillante para los botones */
  margin-top: 15px; /* Espacio entre los botones */
}

/* Estilo para los mensajes de error */
.error-message {
  color: red;
  font-size: 0.9em;
  margin-left: 16px;
}

/* Título */
h1 {
  color: white;
  text-align: center;
  font-size: 3pc;
}

/* Selector de roles y estados */
mat-select {
  --color: #ffffff;
  --background: transparent;
  border: 2px solid #ffffff;
  padding: 8px;
  border-radius: 5px;
}
