<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Agregar Videojuego</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="agregarjuego-container">
    <ion-list>
      <h1>Agregar Juego</h1> 
      <ion-item>
        <ion-label>Nombre del Juego:</ion-label>
        <ion-input [(ngModel)]="nombre" class="custom-input" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Descripción:</ion-label>
        <ion-textarea [(ngModel)]="descripcion" class="custom-input"></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label>Precio:</ion-label>
        <ion-input [(ngModel)]="precio" class="custom-input" type="number" inputmode="numeric" (ionBlur)="validarNumeroEntero('precio')" min="0"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Stock:</ion-label>
        <ion-input [(ngModel)]="stock" class="custom-input" type="number" inputmode="numeric" (ionBlur)="validarNumeroEntero('stock')" min="0"></ion-input>
      </ion-item>

      <ion-button expand="full" class="boton-foto" (click)="tomarFoto()">
        <ion-icon name="camera" class="camera-icon"></ion-icon>
        Subir Foto
      </ion-button>

      <!-- Mostrar la imagen si está disponible -->
      <div class="imagen-container" *ngIf="urlImagen">
        <img [src]="urlImagen" class="imagen-juego" alt="Imagen del juego" />
      </div>

      <!-- Mensajes de error -->
      <p *ngIf="errorCampos" class="error-message">Todos los campos son obligatorios. Por favor, completa todos los campos.</p>
      <p *ngIf="errorPrecio" class="error-message">El precio no puede ser menor a 0.</p>
      <p *ngIf="errorStock" class="error-message">El stock no puede ser menor a 0.</p>
      <p *ngIf="errorImagen" class="error-message">La imagen es obligatoria.</p>
    </ion-list>

    <div style="height: 3pc;"></div>

    <ion-button class="boton" expand="full" (click)="validarCampos()">Agregar Juego</ion-button>
    <ion-button class="boton" expand="full" [routerLink]="['/crudjuegos']">Volver</ion-button>
  </div>
</ion-content>
