<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="Atrás" icon="arrow-back" [routerLink]="['/consolas']"></ion-back-button>
    </ion-buttons>
    <ion-title>Consola Única</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="consolaU-container">
    <img [src]="consolaLlego.foto_prod" alt="sin imagen" class="consola-imagen" />
    <h3>{{ consolaLlego.nombre_prod }}</h3>
    <p><strong>Precio:</strong></p>
    <p>{{ consolaLlego.precio_prod | currency: 'CLP':'symbol':'1.0-0' }}</p>
    <p><strong>Stock:</strong></p>
    <p>{{ consolaLlego.stock_prod }}</p>

    <ion-row>
      <ion-col size="6">
        <ion-button expand="block" fill="solid" (click)="agregarAlCarrito()">
          <ion-icon slot="start" name="cart"></ion-icon>
          Añadir al carrito
        </ion-button>
      </ion-col>

      <ion-col size="6">
        <ion-button *ngIf="!estaEnFavoritos" expand="block" color="danger" (click)="agregarAFavoritos()">
          <ion-icon slot="start" name="heart"></ion-icon>
          Lista de deseos
        </ion-button>

        <ion-button *ngIf="estaEnFavoritos" expand="block" color="secondary" (click)="quitarDeFavoritos()">
          <ion-icon slot="start" name="heart-dislike"></ion-icon>
          Quitar de favoritos
        </ion-button>
      </ion-col>
    </ion-row>
  </div>

  <div class="section-separator"></div>

  <h4>Descripción:</h4>
  <div class="descripcion-container">
    <p class="descripConsola">{{ consolaLlego.descripcion_prod }}</p>
  </div>

  <div class="section-separator"></div>

  <h4>Comentarios:</h4>

  <ion-card class="resecnas-container" *ngIf="!hayResecna">
    <div class="textoreseña-container">
      <textarea [(ngModel)]="laresecna" class="reseña-input" placeholder="Escribe tu reseña aquí"></textarea>
    </div>
    <div class="btn-container">
      <ion-button class="btns" fill="solid" (click)="SubirResecna()">Subir</ion-button>
    </div>
  </ion-card>

  <div class="reseñas">
    <div class="reseña" *ngFor="let resecna of arregloresecnas">
      <ion-avatar class="avatar">
        <img [src]="getImagenUsuario(resecna.foto_usuario)" class="profile-image" alt="Imagen de usuario" />
      </ion-avatar>
      <div class="reseña-texto">
        <h5>{{ resecna.username }}</h5>
        <p>{{ resecna.text_resecna }}</p>
      </div>
    </div>
  </div>
</ion-content>