ion-content {
  --background: none;
  background: linear-gradient(to bottom right, #121212, #007bff); /* Gris oscuro a azul brillante */
}

.home-container {
  text-align: center;
  padding: 20px;
}

.home-image {
  width: 60%; /* Ajuste del tamaño de la imagen */
  margin: 0 auto 20px;
  border-radius: 20px;
}

.button-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Botones ajustables */
  gap: 15px;
}

.grid-button {
  height: 60px; /* Ajuste de la altura de los botones */
  --background: #007bff; /* Azul brillante */
  --color: #e0e0e0; /* Texto gris claro */
  --border-radius: 15px;
  font-size: 16px; /* Ajuste del tamaño de la fuente */
}

.centered-button {
  text-align: center; /* Centrar el contenido del botón */
  grid-column: span 2; /* Ocupar dos columnas en la cuadrícula */
}
