<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="Atras" icon="arrow-back" [routerLink]="['/perfil']"></ion-back-button>
    </ion-buttons>
    <ion-title>Historial Compras</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Historial de Compras</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>

        <!--producto1-->
        <ion-item>25/05/2024 
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="assets/img/juegos/caratula-hollow.jpeg" />
          </ion-thumbnail>
          <ion-label slot="end">
            $15.000
          </ion-label>
        </ion-item>
        
        <!--producto2-->
        <ion-item>25/05/2024 
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="assets/img/consolas/2dsXL-consola.jpeg" />
          </ion-thumbnail>
          <ion-label slot="end">
            $160.000
          </ion-label>
        </ion-item>

        <!--producto3-->
        <ion-item>25/05/2024 
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="assets/img/juguetes/Zelda-juguete.png" />
          </ion-thumbnail>
          <ion-label slot="end">
            $20.000
          </ion-label>
        </ion-item>

        <!--producto4-->
        <ion-item>25/05/2024 
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="assets/img/juegos/caratula-liesofp.jpeg" />
          </ion-thumbnail>
          <ion-label slot="end">
            $60.000
          </ion-label>
        </ion-item>

        <!--producto5-->
        <ion-item>25/05/2024 
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="assets/img/consolas/ps4-1.jpeg"  />
          </ion-thumbnail>
          <ion-label slot="end">
            $80.000
          </ion-label>
        </ion-item>

        <!--producto6-->
        <ion-item>25/05/2024 
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="assets/img/juguetes/Batman-juguete.jpg"  />
          </ion-thumbnail>
          <ion-label slot="end">
            $90.000
          </ion-label>
        </ion-item>
      
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
