<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="atras" icon="arrow-back" [routerLink]="['/perfil']"></ion-back-button>
    </ion-buttons>
    <ion-title>Mis Reseñas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Mis Reseñas</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>

        <!--producto1-->
        <ion-item>
          <ion-label>
            <!-- Estrellas -->
            <h4>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
            </h4>
            <!-- Nombre del Producto y Fecha -->
            Hollow Knight // 10/08/2024
            <!-- Descripción -->
            <p>Un juego de acción y aventura en un vasto mundo subterráneo, donde debes explorar cavernas, luchar contra criaturas y descubrir secretos.</p>
          </ion-label>
        </ion-item>
      
        <!--producto2-->
        <ion-item>
          <ion-label>
            <!-- Estrellas -->
            <h4>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
            </h4>
            <!-- Nombre del Producto y Fecha -->
            Nintendo 2DS XL // 05/08/2024
            <!-- Descripción -->
            <p>Una consola portátil que ofrece una experiencia de juego inmersiva con una gran variedad de títulos disponibles.</p>
          </ion-label>
        </ion-item>
      
        <!--producto3-->
        <ion-item>
          <ion-label>
            <!-- Estrellas -->
            <h4>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
            </h4>
            <!-- Nombre del Producto y Fecha -->
            Juguete de Zelda // 01/08/2024
            <!-- Descripción -->
            <p>Figura de colección del personaje Link de la saga The Legend of Zelda, detalladamente diseñada para los fanáticos.</p>
          </ion-label>
        </ion-item>
      
        <!--producto4-->
        <ion-item>
          <ion-label>
            <!-- Estrellas -->
            <h4>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
            </h4>
            <!-- Nombre del Producto y Fecha -->
            Lies of P // 15/07/2024
            <!-- Descripción -->
            <p>Un juego de rol de acción con un mundo oscuro inspirado en la historia de Pinocho, donde las decisiones afectan el destino del personaje.</p>
          </ion-label>
        </ion-item>
      
        <!--producto5-->
        <ion-item>
          <ion-label>
            <!-- Estrellas -->
            <h4>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
            </h4>
            <!-- Nombre del Producto y Fecha -->
            PlayStation 4 // 20/06/2024
            <!-- Descripción -->
            <p>Una consola de videojuegos de última generación, conocida por su amplia biblioteca de juegos y capacidades multimedia.</p>
          </ion-label>
        </ion-item>
      
        <!--producto6-->
        <ion-item>
          <ion-label>
            <!-- Estrellas -->
            <h4>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
            </h4>
            <!-- Nombre del Producto y Fecha -->
            Juguete de Batman // 25/05/2024
            <!-- Descripción -->
            <p>Figura de acción del icónico superhéroe Batman, ideal para coleccionistas y fanáticos del personaje.</p>
          </ion-label>
        </ion-item>
      
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
