<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="atras" icon="arrow-back" [routerLink]="['/perfil']"></ion-back-button>
    </ion-buttons>
    <ion-title>Mis Reseñas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Mis Reseñas</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list *ngIf="resecnas.length > 0; else noResenas">

        <ion-item *ngFor="let resecna of resecnas">
          <ion-label>
            <!-- Nombre del Producto y Fecha -->
            <h2>{{ resecna.nombre_prod }} </h2>

            <!-- Descripción -->
            <p>{{ resecna.text_resecna }}</p>
          </ion-label>

          <ion-button color="danger" (click)="eliminarResena(resecna.id_resecna)">
            Eliminar
          </ion-button>
        </ion-item>

      </ion-list>

      <ng-template #noResenas>
        <ion-card-content>No tienes reseñas registradas.</ion-card-content>
      </ng-template>
    </ion-card-content>
  </ion-card>
</ion-content>
